.userTitle {
    text-align: center;
}

.card {  
    display: flex;
    justify-content: center;
}

.userCard {
    border-top: dotted 1px darkslategray;
    margin-bottom: 10px;
    text-align: center;
}

.contributorCard {
    border-top: dotted 1px darkslategray;
    margin-bottom: 10px;
}
