.userTitle {
    text-align: center;
}

.userNameDebt {
    display: flex;
}

.userNameTransaction {
    display: flex;
}

.userCard {
    border-top: dotted 1px darkslategray;
    margin-bottom: 10px;
}

.contributorCard {
    border-top: dotted 1px darkslategray;
    margin-bottom: 10px;
}
