.userTitle {
    text-align: center;
}

.card {  
    display: flex;
    justify-content: center;
}

.userCard {
    border: dotted 1px darkslategray;
    text-align: center;
    margin: 0 260px;
    padding: 10px 0;
    border-radius: 10px;
}

.userList {
    margin-bottom: 30px;
}

.contributorCard {
    border-top: dotted 1px darkslategray;
    margin-bottom: 10px;
}

.detailSection {
    text-align: center;
    border: dotted 2px darkslategray;
    margin: 50px 250px 0 250px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.homeButton {
    margin: 10px 0 0 0;
}

.deleteDebtButton {
    margin-top: 20px;
}