.header {
    display: flex;
    flex: 1 0 28%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 0 30px 10px 30px;
    background-color: rgba(0, 0, 0, 0.714);
    color: white;
}

.logoDiv {
    text-align: center;
    padding-bottom: 12px;
}

.logo {
    margin-top: 28px;
}

.welcomeName {
    margin-right: 85px;
}

.editDebtButton {
    margin-right: 5px;
}

.noDebtLogoutButtonDiv {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.makeContributionButton {
    margin-right: 5px;
}

.button {
    border-radius: 3px;
    background-color: snow;
}

.button:hover {
    background-color: rgb(144, 164, 184);
}

.logoutButton {
    margin-left: 5px;
}

.contributorButton {
    margin-bottom: 10px;
}

.editDebtButton:hover {
    background-color: rgb(115, 121, 194);
}

.progressBarDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.progressBar {
    display: flex;
}

#debtProgress {
    margin: 0 10px;
    padding: 10px 20px;
}
