.header {
    text-align: center;
    border-bottom: solid 1px darkslategray;
    padding-bottom: 15px;
}

.editDebtButton {
    margin-right: 5px;
}

.makeContributionButton {
    margin-right: 5px;
}

.logoutButton {
    margin-left: 5px;
}

.editDebtButton:hover {
    background-color: rgb(115, 121, 194);
}

.progressBarDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.progressBar {
    display: flex;
}

#debtProgress {
    margin: 0 10px;
    padding: 10px 20px;
}
