.container--login {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
}

.link {
    color: lightskyblue;
    font-size: 1.25em;
}

.form--login {
    color: white;
}